*~
*.rej
*.o
*.so
*.la
*.lo
.libs
.hmake
autom4te.cache
config.log
config.status
config.cache
staging
dcerpc/flex-2.5.4/conf.in
dcerpc/flex-2.5.4/configure
debug/
lwreg/libedit/Makefile.in
lwreg/libedit/aclocal.m4
lwreg/libedit/compile
lwreg/libedit/config.guess
lwreg/libedit/config.h.in
lwreg/libedit/config.sub
lwreg/libedit/configure
lwreg/libedit/depcomp
lwreg/libedit/doc/Makefile.in
lwreg/libedit/examples/Makefile.in
lwreg/libedit/install-sh
lwreg/libedit/ltmain.sh
lwreg/libedit/missing
lwreg/libedit/src/Makefile.in
release/
