Source: likewise-open
Section: net
Priority: optional
Maintainer: Gerald Carter <jerry@centeris.com>
Build-Depends: libkrb5-dev, libldap2-dev, libpam0g-dev, uuid-dev, 
 dpkg-dev (>= 1.13.9), libpam-runtime (>= 0.76-13.1), debhelper (>= 5), 
 autoconf (>=2.53), libglade2-dev
Standards-Version: 3.7.2

Package: likewise-open
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpam-runtime (>= 0.76-13.1), 
 libpam-modules, krb5-user, libglade2-0, libldap2, libkrb53, perl
Provides: domain-lsa-service
Conflicts: domain-lsa-service
Replaces: domain-lsa-service
Description: Authentication services for Active Directory Domains
 Likewise Open provides a means of integrating Unix desktops and servers 
 into an Active Directory (AD) environment by providing a means for hosts 
 to join the domain as member servers and make the Windows users and groups 
 available to other Unix applications and services via the PAM and Name 
 Service Switch libraries.
