[Unit]
Description=Likewise Service Control Manager Service
After=syslog.target network.target haveged.service
Requires=haveged.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=PREFIX_DIR/sbin/lwsmd --start-as-daemon --syslog
ExecStartPost=PREFIX_DIR/bin/lwsm autostart
ExecStop=PREFIX_DIR/bin/lwsm shutdown
KillMode=none

[Install]
WantedBy=multi-user.target
