[Unit]
Description=Likewise Service Control Manager Service
After=syslog.target network.target haveged.service
Requires=haveged.service

[Service]
Type=forking
ExecStart=PREFIX_DIR/sbin/lwsmd --start-as-daemon --syslog
ExecStartPost=PREFIX_DIR/bin/lwsm autostart

[Install]
WantedBy=multi-user.target
